</div>
</main>

<!-- FOOTER -->
<footer class="footer container">
  <!-- FOOTER LOGO  -->
  <a href="#">
    <img
      class="footer-logo"
      src="/img/logo-invert.png"
      alt="urban stride logo"
    />
  </a>

  <!-- SOCIAL LINKS  -->
  <ul class="social-links">
    <li>
      <a class="social-link" href="#"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a class="social-link" href="#"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li>
      <a class="social-link" href="#"
        ><i class="fa-brands fa-hackerrank"></i
      ></a>
    </li>
    <li>
      <a class="social-link" href="#"
        ><i class="fa-brands fa-discord"></i
      ></a>
    </li>
    <li>
      <a class="social-link" href="#"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </li>
  </ul>

  <!-- AUTHOR TEXT -->
  <p class="author-text">&copy; Shashank Singh &bull; 2023</p>
</footer>
</body>
</html>