</div>
</main>

<!-- FOOTER -->
<footer class="footer container">
  <!-- FOOTER LOGO  -->
  <a href="/">
    <img
      class="footer-logo"
      src="/img/logo-invert.png"
      alt="urban stride logo"
    />
  </a>

  <!-- SOCIAL LINKS  -->
  <ul class="social-links">
    <li>
      <a href="https://www.linkedin.com/in/shashanksingh790"
        ><img class="social-link" src="/img/linkedin.svg" alt="Linkedin Logo" /></a>
    </li>
    <li>
      <a href="https://github.com/HoneyBearCodes"
        ><img class="social-link" src="/img/github.svg" alt="Github Logo" /></a>
    </li>
    <li>
      <a href="https://www.facebook.com/honeybearcozy/"
        ><img class="social-link" src="/img/facebook.svg" alt="Facebook Logo" /></a>
    </li>
    <li>
      <a href="mailto:sshashank790@gmail.com"
        ><img class="social-link" src="/img/envelope.svg" alt="Mail Logo" /></a>
    </li>
  </ul>

  <!-- AUTHOR TEXT -->
  <p class="author-text">&copy; Shashank Singh &bull; <%= new Date().getFullYear();%></p>
</footer>
</body>
</html>