</div>
</main>

<!-- FOOTER -->
<footer class="footer container">
  <!-- FOOTER LOGO  -->
  <a href="#">
    <img
      class="footer-logo"
      src="/img/logo-invert.png"
      alt="urban stride logo"
    />
  </a>

  <!-- SOCIAL LINKS  -->
  <ul class="social-links">
    <li>
      <a class="social-link" href="#"
        ><img class="social-link" src="/img/linkedin.svg" alt="Linkedin Logo" /></a>
    </li>
    <li>
      <a class="social-link" href="#"
        ><img class="social-link" src="/img/github.svg" alt="Github Logo" /></a>
    </li>
    <li>
      <a class="social-link" href="#"
        ><img class="social-link" src="/img/discord.svg" alt="Linkedin Logo" /></a>
    </li>
    <li>
      <a class="social-link" href="#"
        ><img class="social-link" src="/img/envelope.svg" alt="Linkedin Logo" /></a>
    </li>
  </ul>

  <!-- AUTHOR TEXT -->
  <p class="author-text">&copy; Shashank Singh &bull; 2023</p>
</footer>
</body>
</html>