<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#858ae3">
    <meta
      name="description"
      content="A dynamic sports shoe e-commerce platform powered by TypeScript, NodeJS, EJS, and MongoDB. This practice project showcases my proficiency in building modern web applications. Explore the intersection of style and performance in footwear. Lace up and conquer the streets with Urban Stride!"
    />
    <meta name="keywords" content="Urban Stride, shashank, shashank singh, sports shoes, e-commerce, TypeScript, Node.js, MongoDB, web development, PDFKit, Nodemailer, Stripe integration, RESTful API, Node.js project, Express.js, PDF invoice, session management, MongoDB Mongoose, Stripe payments, user authentication, product catalog, responsive design">
    <meta name="author" content="Shashank Singh">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Urban Stride by Shashank Singh">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A dynamic sports shoe e-commerce platform powered by TypeScript, NodeJS, EJS, and MongoDB.">
    <meta property="og:image" content="https://github.com/AmaaelTyrneaMitore/UrbanStride/blob/main/public/img/banner.jpg?raw=true">
    <meta property="og:url" content="https://urbanstride.onrender.com/">
    <meta property="og:site_name" content="Urban Stride">
    <meta property="og:locale" content="en_US">

    <title>Urban Stride &horbar; style meets motion</title>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/img/fav-64.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- GOOGLE FONTS SCRIPT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- MY SCIPTS -->
    <script src="/js/main.js" defer></script>
    <script src="/js/nav.js" defer></script>

    <!-- MY CSS -->
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/style.css" />