<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A dynamic sports shoe e-commerce platform powered by TypeScript, NodeJS, EJS, and MongoDB. This practice project showcases my proficiency in building modern web applications. Explore the intersection of style and performance in footwear. Lace up and conquer the streets with Urban Stride!"
    />
    <title>Urban Stride &horbar; style meets motion</title>

    <!-- FONT AWESOME SCRIPT -->
    <script
      src="https://kit.fontawesome.com/6fcc669dda.js"
      crossorigin="anonymous"
    ></script>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/img/fav-64.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- GOOGLE FONTS SCRIPT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Varela+Round&display=swap"
      rel="stylesheet"
    />

    <!-- MY SCIPTS -->
    <script src="/js/main.js" defer></script>
    <script src="/js/nav.js" defer></script>

    <!-- MY CSS -->
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/style.css" />